[submodule "pelican-blue"]
	path = pelican-blue
	url = https://github.com/Parbhat/pelican-blue.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
